.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-value{
  margin: 20px;
  padding: 10px;
  background: aliceblue;
  color: blueviolet;
  border-radius: 5px;
}
.submit-value-disabled{
  filter: brightness(0.5);
}
.submit-value-disabled:hover{
    cursor: not-allowed; 
}

.submit-value-enabled:hover{
  cursor: pointer; 
  filter: brightness(0.8);
}
.submit-value-enabled:active{
  cursor: pointer; 
  filter: brightness(0.6);
}
